<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="add-expense">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Add Expense</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="view-expenses">
      <ion-icon name="list"></ion-icon>
      <ion-label>View Expenses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="view-stats">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>View Stats</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
